absl-py==2.1.0
aiohappyeyeballs==2.3.5
aiohttp==3.10.3
aiohttp-retry==2.8.3
aiosignal==1.3.1
altgraph @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/altgraph-0.17.2-py2.py3-none-any.whl
async-timeout==4.0.3
attrs==24.2.0
blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.0
cycler==0.12.1
deap==1.4.1
distlib==0.3.8
dm-tree==0.1.8
filelock==3.15.4
Flask==3.0.3
fonttools==4.47.2
frozenlist==1.4.1
future @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/future-0.18.2-py3-none-any.whl
gunicorn==23.0.0
h5py==3.10.0
idna==3.7
idx2numpy==1.2.3
importlib-resources==6.1.1
importlib_metadata==8.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.3.2
keras==3.0.5
kiwisolver==1.4.5
macholib @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/macholib-1.15.2-py2.py3-none-any.whl
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.2
mdurl==0.1.2
ml-dtypes==0.3.2
mnist==0.2.2
multidict==6.0.5
namex==0.0.7
numpy==1.26.4
packaging==23.2
pandas==2.2.0
pillow==10.2.0
platformdirs==4.2.2
pyarrow==15.0.0
pygame==2.5.2
Pygments==2.17.2
PyJWT==2.9.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.4
requests==2.32.3
rich==13.7.1
scikit-learn==1.4.1.post1
scipy==1.12.0
six @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/six-1.15.0-py2.py3-none-any.whl
sklearn==0.0
Theano==1.0.5
threadpoolctl==3.3.0
twilio==9.2.3
tzdata==2023.4
urllib3==2.2.2
virtualenv==20.26.3
Werkzeug==3.0.3
yarl==1.9.4
zipp==3.17.0
