{% extends "layout.html" %}
{% block body_class %}form-page{% endblock %}
{% block content %}
<div class="container d-flex align-items-center justify-content-center" style="height: 90vh;">
    <div class="card d-flex align-items-center justify-content-center" style="height: 85%; width: 60%;">
        <h1>Add Transaction</h1>
        <form action="/add_transaction" method="post" style="width: 80%;">
            <label for="amount">Amount</label>
            <div class="input-group mb-2">
                <span class="input-group-text">$</span>
                <input type="number" class="form-control" min="0" step="0.01" placeholder="0.00" aria-label="Amount" id="amount" name="transaction_amount" required>
            </div>
            <div class="form-group mb-2">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" name="transaction_desc" required>
            </div>
            <div class="form-group mb-2">
                <label for="date">Date</label>
                <input type="date" class="form-control" id="date" name="transaction_date" required>
            </div>
            <div class="form-group mb-2">
                <label for="type">Type</label>
                <select class="form-control" id="type" name="transaction_type" required>
                    <option value="income">Income</option>
                    <option value="expense">Expense</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="category">Category</label>
                <select class="form-control" id="category" name="category_name" required>
                    <!-- Categories options here -->
                    <option>Grocery</option>
                    <option>Insurance</option>
                    <option>Other</option>
                    <option>Personal</option>
                    <option>Pet</option>
                </select>
            </div>
            <!-- Additional fields for category and date -->
            <button type="submit" class="btn form-btn btn-primary my-2 fs-5">Add Transaction</button>
        </form>
    </div>
</div>

<script>
    const currentYear = new Date().getFullYear();

    const minDate = `${currentYear}-01-01`;
    const maxDate = `${currentYear}-12-31`;
  
    document.getElementById('dateInput').setAttribute('min', minDate);
    document.getElementById('dateInput').setAttribute('max', maxDate);
</script>
{% endblock %}