{% extends "layout.html" %}
{% block content %}
<div class="container d-flex align-items-center justify-content-center" style="height:90vh;">
    <div>
        <h1>Welcome to ExpenseTracker</h1>
        <h5 class="pb-2">To get started, you must register or login.</h5>
        <a href="/register">
            <button type="submit" class="btn btn-primary me-2" style="width: 6rem;">Register</button>
        </a>
        <a href="/login">
            <button type="submit" class="btn btn-primary" style="width: 6rem;">Login</button>
        </a>
    </div>
</div>
{% endblock %}