{% extends "layout.html" %}
{% block body_class %}form-page{% endblock %}
{% block content %}
<div class="container d-flex align-items-center justify-content-center" style="height:90vh;">
    <div class="card d-flex align-items-center justify-content-center">
        <h1>Login</h1>
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
        </svg>
        <form action="/login" method="POST" style="width: 70%;">
            <div class="form-floating mb-3 my-2">
                <input type="text" class="form-control" name="user_username" id="floatingInput" placeholder="Username">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating mb-3 my-2">
                <input type="password" class="form-control" name="user_password" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <button type="submit" class="btn form-btn btn-primary my-2 fs-5">Login</button>
            <label class="fs-7">Not a member?</label> <a href="/register" class="fs-7 link-underline link-underline-opacity-0">Create an account</a>
        </form>
    </div>
    </div>
</div>
{% endblock %}