{% extends "layout.html" %}
{% block content %}
<div class="container mt-4 d-flex justify-content-center" style="height: 90vh;">
    <div style="width: 100%;">
        <h1 class="mb-4">Transaction History</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction[1] }}</td>
                    <td>{{ transaction[2] }}</td>
                    <td>{{ transaction[3] }}</td>
                    <td>{{ transaction[4] }}</td>
                    <td>{{ transaction[5] }}</td>
                    <td>
                        <form action="{{ url_for('delete_transaction', transaction_id=transaction[0]) }}" method="POST" style="display: inline;">
                            <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}